[project]
	description = A custom view component that mimics the new Material Design Bottom Navigation pattern.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hatem Toumi (Hatem-tmi)
[access "refs/for/refs/*"]
	read = group user/Hatem Toumi (Hatem-tmi)
	push = group user/Hatem Toumi (Hatem-tmi)
	label-Code-Review = -2..+2 group user/Hatem Toumi (Hatem-tmi)
	label-Verified = -1..+1 group user/Hatem Toumi (Hatem-tmi)
	rebase = group user/Hatem Toumi (Hatem-tmi)
	removeReviewer = group user/Hatem Toumi (Hatem-tmi)
	submit = group user/Hatem Toumi (Hatem-tmi)
[access "refs/heads/*"]
	read = group user/Hatem Toumi (Hatem-tmi)
	create = group user/Hatem Toumi (Hatem-tmi)
	push = +force group user/Hatem Toumi (Hatem-tmi)
	pushMerge = group user/Hatem Toumi (Hatem-tmi)
[access "refs/tags/*"]
	push = group user/Hatem Toumi (Hatem-tmi)
	push = +force group user/Hatem Toumi (Hatem-tmi)
